# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# (MAC) XCODE
xcode/Words.xcodeproj/xcuserdata
xcode/Words.xcodeproj/project.xcworkspace/xcuserdata
xcode/Build/Debug/Words
xcode/Build/Intermediates
xcode/DerivedData/

# (WINDOWS) Visual Studio 2013
*.exe
*.vcxproj.user
*.obj
*.idb
*.log
*.pdb
*.tlog
*.ilk
*.sdf
*.suo
*.v12.suo
*.exe.stackdump

#our stuff
cdb