# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windows
*.exe
*.vcxproj.user
*.obj
*.idb
*.log
*.pdb
*.tlog
*.ilk
*.sdf
*.suo
*.v12.suo
*.exe.stackdump
